<launch>
  <arg name="path" default="$(find static_avoid)/paths/active/static_obstacle_sim.csv" />
  <arg name="moving_obstacle" default="false" />

  <node pkg="static_avoid"
        type="static_obstacle_simulator.py"
        name="static_obstacle_simulator"
        clear_params="true"
        output="screen">
    <param name="cmd_topic" value="/smoother_cmd_vel" />
    <param name="moving_obstacle" value="$(arg moving_obstacle)" />
    <param name="moving_obstacle_x" value="4.1" />
    <param name="moving_obstacle_amplitude" value="0.80" />
    <param name="moving_obstacle_period" value="7.0" />
    <rosparam param="obstacles">
      - {x: 2.6, y: 0.55, radius: 0.28}
      - {x: 5.1, y: -0.55, radius: 0.28}
    </rosparam>
  </node>

  <include file="$(find static_avoid)/launch/static_obstacle_test.launch">
    <arg name="csv_path" value="$(arg path)" />
    <arg name="cmd_topic" value="/smoother_cmd_vel" />
    <arg name="target_speed" value="0.12" />
    <arg name="enabled" value="true" />
    <arg name="zone_mode" value="true" />
    <arg name="use_raw_livox_safety" value="false" />
    <arg name="obstacle_memory_time" value="1.20" />
    <arg name="plan_rate" value="5.0" />
    <arg name="blocked_retry_rate" value="4.0" />
    <arg name="safety_slow_distance" value="0.90" />
    <arg name="safety_stop_distance" value="0.35" />
  </include>
</launch>
